.cell {
	display: inline-block;
	width: 40px;
	margin: 3px;
}
.cell>div {
	display: block;
}
.cell input[type=text] {
	width: 15px;
}
.cell input[type=text].error {
	border-color: red;
}
.cell input.delete {
	width: 21px;
	padding: 0px;
}