.cell {
	display: inline-block;
	margin: 0.5em;
}
.cell>div {
	display: block;
}
.cell input[type=text] {
	width: 15px;
}
.cell input[type=text].error {
	border-color: red;
}
.cell input.delete {
	width: 21px;
	padding: 0px;
}

.code {
	font-family: monospace;
}
